body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

canvas {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 600px; /* Establece un ancho máximo */
    height: auto; /* Mantiene la proporción del canvas */
}