/* cuenta.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}/* cuenta.css */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.content {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card h3 {
    margin-top: 0;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
}

.form-container button:hover {
    background-color: #45a049;
}

.transaction-history table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-history th, .transaction-history td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.transaction-history th {
    background-color: #f2f2f2;
}

#exchangeRatesChart {
    max-width: 100%;
    height: auto;
}

.currency-conversion form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-conversion input,
.currency-conversion select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.currency-conversion button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
}

.currency-conversion button:hover {
    background-color: #45a049;
}

#conversionResult {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}