<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Cuenta</h2>
            <button type="button" id="checkBalance">Monto en tu Cuenta</button>
            <button type="button" id="transferFunds">Transferir</button>
            <button type="button" id="depositFunds">Depositar</button>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>
